.root{
  position: relative;
}
.header{
  height: 60px;
  background: #fff;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  h1{
    color: #333;
    font-size: 24px;
    height: 60px;
    margin: 0;
    font-weight: normal;
    line-height: 60px;
  }
}
.querys{
  margin: 25px;
}
.table-container{
    padding: 0 30px;
}
